@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 40px;
    background-color: #161616;
    box-shadow: 3px 3px 10px #232323;
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}
header a{
    text-decoration: none;
    color:#f2e900;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:azure;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:darkviolet;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: darkviolet;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
    }
/*under header*/
#h_hero{
    flex-direction: row;
}
#hero{
    background-image: url(/Labs/lab3/images/About-us-Full-2-Slider-v2.jpg);
    height:90vh;
    width: 1fr;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero .text-head {
    background-color: #161616;
    padding: 0 15px 0 15px;
    color:#f2e900;
    box-shadow: 5px 5px 0px 0 #f2e900;
}
#hero h1{
    color:#f2e900;
}
#hero p{
    color:aliceblue;
}
#hero button{
    background-color: #9400d3;
    border-color: transparent;
    padding: 14px 80px 14px 65px;
    box-shadow: 5px 5px 0px 0 #f2e900;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.3s ease;
}
#hero button a{
    color: #161616;
    text-decoration: none;
}
#hero button:hover{
    background-color: aliceblue;
}
#info{
    padding: 5% 10% 5% 10%;
    line-height: 3ch;
}
.text1{
    padding-top: 15px;
    display: flex;
}
.text1 img{
    max-width: 300px;
    max-height: 300px;
}
#product1{
    text-align: center;
}
#product1 .pro{
    display: block;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #161616;
    border-radius: 10%;
    margin: 15px 2%;
    
}
#product1 .pro img{
    width: 100%;
}

#main_p{
    display: flex;
}
#sidebar{
    box-shadow: 0px 0px 10px #232323;
    width: 300px;
    height: 220px;
}
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#counter input{
    height: 15px;
    width: 100px;;
}
#plus, #minus{
    padding: 10px;
}
footer{
    background-color: #f2e900;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
    padding: 0 20% 0 7%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px #232323;
}
.contact_i{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
#contact p a{
    text-decoration: none;
    color:darkviolet;
}
#contact p a:hover{
    background-color: #161616;
    color:aliceblue;
}
#copyright{
    display: flex;
    justify-content: center;
}
@media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right:-300px;
        height:100vh;
        width:300px;
        background-color: #232323;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
    display: flex;
    align-items: center;
    }
    #close{
        position: absolute;
        top:30px;
        left:30px;
    }
}
